html,
body,
#root,
.app {
  min-height: 100vh;
}

.app {
  padding-top: 2rem;
}

.canvas-wrapper {
  max-width: 100%;
  width: 640px;
  position: relative;
}

.github {
  position: absolute;
  top: 10px;
  right: 20px;
}

.controls {
  position: absolute;
  top: 20px;
  left: 20px;
}

.photobooth {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.photo {
  max-width: 100%;
  width: 640px;
}

.player {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}

.color-palette {
  width: 100%;
}

.color-swatch {
  color: #ccc;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 13px;
}

.photo-results {
  display: flex;
}
